.gauche .style{
    width: 95%;

}
.droite{
    width: 80%;
    padding-top: 8%;
    padding-right: 0%;
    padding-left: 30%;
}
div button{

    color: rgb(167, 105, 209);
}
.info {
    margin-left:  30%;
    
}
form .retour{
    border-radius: 30%;
    font-size: 60%;
    padding: 1%;
    
}