.droite{
    width: 80%;
    padding-top: 10%;
    text-align: center;
}
img{
    width: 400%;
}
h3{
    position: absolute;
    padding-top: 3%;
    padding-left: 30%;
    font-size: 47px;
    color: rgb(42, 57, 87);
}
